.container

  .mu-content

    h1.detail-title.exercise-title
      .title
        span(style='white-space: nowrap') {{ 'exercise' | translate }} {{ assignment.exercise.number }}: {{ assignment.exercise.name }}

      .language
        i.da(class='da-{{guide.language}}')


    main.detail-main
      .exercises-list
        a.text-center.pointer(
          ng-repeat='assignment in assignments',
          ng-class='{"active-exercise": assignmentSelected(assignment)}',
          class='{{assignmentStatus(assignment)}}'
          title='{{ assignment.exercise.getName() }}',
          ng-click='selectAssignment(assignment)')
          span.badge.badge-notifications(ng-if='notifications(assignment).length')
            | {{ notifications(assignment).length }}

      .exercise-detail-area(class='{{ assignment.exercise.layout }}')
        .exercise-detail-area-text
          markdown-preview.markdown-preview(content='assignment.exercise.description')
        .exercise-detail-area-editor
          .row
            .col-sm-12.solutions-preview

              ul.nav.nav-tabs.bottom-10
                li(ng-class='{ "active": getViewMode().showMarkdown }')
                  a(href='', ng-click='lastSolution()')
                    i.fa.fa-code
                    span &nbsp;{{ 'last_solution' | translate }}
                li(ng-class='{ "active": getViewMode().showDiff }', ng-if="assignment.submissions.length")
                  a(href='', ng-click='diff()')
                    i.fa.fa-columns
                    span &nbsp;{{ 'diff' | translate }}
                li(ng-class='{ "active": getViewMode().showMessages }', ng-if="raiseHandEnabled && assignment.submissions.length")
                  a(href='', ng-click='messages()')
                    i.fa.fa-comments-o
                    span &nbsp;{{ 'messages' | translate }}

              .tab-content
                .tab-pane(ng-class='{ "active": getViewMode().showMarkdown }')

                  div(ng-if="hasSubmissions()")
                    markdown-preview.markdown-preview(content='lastSolutionMarkdown[assignment.exercise.id]')

                    button.btn.btn-success.btn-block(ng-click='manualCorrection()')
                      i.fa.fa-fw.fa-pencil
                      span {{ 'manual_correction' | translate }}

                  span.no-solutions-sent(ng-if="!hasSubmissions()") {{ 'no_solutions_sent' | translate }}

                .tab-pane(ng-class='{ "active": getViewMode().showDiff }', ng-if="assignment.submissions.length")

                  diff-side(
                      language='{{ assignment.guide.language.name }}',
                      left='assignment.diffs.selected.left',
                      right='assignment.diffs.selected.right',
                      view-mode='getViewMode().current.type')

                  .pull-right
                    input(
                        bs-switch,
                        ng-model='getViewMode().isUnified',
                        type='checkbox',
                        switch-on-text="{{ 'unified' | translate }}",
                        switch-off-text="{{ 'split' | translate }}",
                        switch-size='mini')

                  paginator(
                    pg-items-per-page='1',
                    pg-total-items='assignment.diffs.length',
                    pg-actual-page='assignment.diffs.selectedIndex() + 1',
                    pg-offset='1',
                    pg-click='selectDiffByPage')

                .tab-pane(ng-class='{ "active": getViewMode().showMessages }', ng-if="raiseHandEnabled && assignment.submissions.length")
                  span.mu-view-messages(ng-bind-html='(html | trustHtml)', ng-if='allMessages')
                  .mu-messages(ng-if='!allMessages')
                    ol.mu-chat
                      li(ng-click='viewMessages()')
                        a(href='', ng-if='!spin') {{ 'more_messages' | translate }}
                        i.fa.fa-fw.fa-spinner.fa-spin(ng-if='spin', style='margin: 6px auto')
                      li(class='{{messageSenderClass(message)}}' ng-repeat='message in assignment.lastSubmission().messages')
                        div.message
                          p(ng-bind-html='trust(message.content)')
                          .sender {{message.sender}}
                          time {{Humanizer.date(message.created_at)}}
                  button.btn.btn-success.btn-block(ng-click='newMessage()')
                    i.fa.fa-paper-plane &nbsp;
                    span {{'new_message' | translate}}


      .row
        .col-sm-12(ng-repeat='submission in [ assignment.diffs.selected.right ]')

          .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.test_results.length')
            h4 {{ 'tests' | translate }}
            p
              .row(ng-repeat='result in submission.test_results')
                .col-sm-11
                  span {{ result.title || 'Example ' + ($index + 1) }}
                  div(ng-if="result.status != 'passed'")
                    div(ng-if="containsHtml(result.result)", ng-bind-html='trust(result.result)')
                    pre(ng-if="!containsHtml(result.result)") {{ result.result }}
                .col-sm-1
                  status-icon(status='result.status')

          .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.result')
            h4 {{ 'results' | translate }}
            p
              div(ng-bind-html='trust(submission.result)')

          .bs-callout(ng-class='"bs-callout-" + submission.colorClass()', ng-if='submission.expectation_results.length')
            h4 {{ 'expectations' | translate }}
            p
              .row(ng-repeat='expectationResult in submission.expectation_results')
                .col-sm-11
                  div(ng-bind-html="trust(expectationResult.html)")
                .col-sm-1
                  status-icon(status='expectationResult.result')
