.container

  h3 {{ exam_type | translate }}

  form(ng-submit='create()')
 
    .row

      .col-sm-12(ng-if='isNew')
        label {{ 'guide' | translate }}
        .form-group
          .input-group.date
            span.input-group-addon
              i.fa.fa-search
            input.form-control(
                type='text',
                ng-model='selected.guide',
                placeholder='{{ "filter_available_guides" | translate }}',
                uib-typeahead='guide as fullName(guide) for guide in guides | filter:$viewValue')

      .col-sm-12(ng-if='!isNew')
        label {{ 'guide' | translate }}
        .form-group
          .input-group.pointer(target='_blank' href='', ng-click='openExamInLaboratory()')
            span.input-group-addon
              i(class='{{ exam.iconClass() }}')
            input.form-control(type='text', value='{{exam.fullName()}}', readonly)
          small.text-muted {{ 'exam_link' | translate }}:&nbsp;
          small.text-muted.text-primary {{ url() }}
          span.clipboard
            span &nbsp;
            i.fa.fa-clipboard(ng-click='copy()')
            small.text-muted(ng-show='isCopied') &nbsp; {{ 'copied' | translate }}!

      .col-sm-6
        label {{ 'start_time' | translate }}
        .dropdown.form-group
          #start_time_id.dropdown-toggle.input-group.date.start_time_class(
              role='button',
              data-toggle='dropdown')
            span.input-group-addon
              i.fa.fa-calendar
            input.form-control(type='text', data-ng-model='exam.start_time', readonly)
          ul.dropdown-menu(role='menu', aria-labelledby='start_time_id')
            datetimepicker(
                data-ng-model='exam.start_time',
                data-datetimepicker-config='{ dropdownSelector: ".start_time_class" }')

      .col-sm-6
        label {{ 'end_time' | translate }}
        .dropdown.form-group
          #end_time_id.dropdown-toggle.input-group.date.end_time_class(
              role='button',
              data-toggle='dropdown')
            span.input-group-addon
              i.fa.fa-calendar
            input.form-control(type='text', data-ng-model='exam.end_time', readonly)
          ul.dropdown-menu(role='menu', aria-labelledby='end_time_id')
            datetimepicker(
                data-ng-model='exam.end_time',
                data-datetimepicker-config='{ dropdownSelector: ".end_time_class" }')

      .col-sm-4
        label {{ 'duration' | translate }} ({{ "duration_placeholder" | translate | lowercase }})
        .form-group
          .input-group
            span.input-group-addon.pointer(ng-init='hasDuration = !!exam.duration', ng-click='hasDuration = !hasDuration')
              i.fa.fa-square-o(ng-if='!hasDuration')
              i.fa.fa-check-square-o(ng-if='hasDuration')
            input.form-control(
                type='text',
                ng-model='exam.duration',
                placeholder='90',
                ng-disabled='!hasDuration')

      .col-sm-4
        label {{ 'max_problem_submissions' | translate }}
        .form-group
          .input-group.block
            input.form-control(
            type='text',
            ng-model='exam.max_problem_submissions',
            placeholder='5')

      .col-sm-4
        label {{ 'max_choice_submissions' | translate }}
        .form-group
          .input-group.block
            input.form-control(
            type='text',
            ng-model='exam.max_choice_submissions',
            placeholder='1')

      .col-sm-6
        label {{ 'passing_criterion' | translate }}
        .form-group
          .input-group.block
            ui-select(ng-model='passing_criterion.type' theme='bootstrap')
              ui-select-match {{ "passing_criterion_" + $select.selected.key | translate }}
              ui-select-choices(repeat='passingCriterion in passingCriteria | filter:$select.search')
                small(ng-bind-html=' "passing_criterion_" + passingCriterion.key | translate | highlight: $select.search')

      .col-sm-6
        label {{ 'passing_grade' | translate }}
        .form-group
          .input-group.block
            input.form-control(
            type='number',
            ng-model='passing_criterion.value',
            ng-disabled='isNone(passing_criterion.type.key)',
            placeholder='1')

      .col-sm-12
        button.btn.btn-success.pull-right(ng-disabled='!isValid()')
          | {{ 'save' | translate }}

  .col-sm-12(ng-if='!isNew', ng-switch='inputType.isMultiple')
    .row
      .student-switch.pull-right
        input(bs-switch, ng-model='inputType.isMultiple', type='checkbox', switch-on-text="{{ 'bulk' | translate }}", switch-off-text="{{ 'single' | translate }}", switch-size='mini')
      h3 {{ titleKey | translate }}

    .masive-students(ng-switch-when="true")
      h3 {{ 'add_multiple_students' | translate }}
      h4: small(ng-bind-html='"exam_student_example_csv_link" | translate | trustHtml')
      ng-csv-import.import(content='csv.content', callback='applyCsv', header='csv.header', header-visible='csv.headerVisible', separator='csv.separator', result='csv.result', upload-button-label='csv.uploadButtonLabel')
      table.table(ng-if='csv.result')
        tr
          th {{ 'email' | translate }}
        tr(ng-repeat='student in csv.result')
          td
            input.form-control(ng-model='student.email', type='text', placeholder='{{ "email" | translate }}')
      .row(ng-if='csv.result')
        button.btn.btn-success.modal-form-input.pull-right(ng-click='givePermissions()') {{ 'confirm' | translate }}

    .single-student(ng-switch-when="false")
      .row
        label {{ 'students' | translate }}
        .input-group
          input.form-control(id='filter', placeholder='{{ "filter_students" | translate }}', ng-model='params.q')
          i.input-group-addon.fa.fa-search

      br

      .row
        small Haciendo click en #[i.fa.fa-check-square-o] se dará de alta al alumno sin la necesidad de guardar el examen.
        .col-sm-12(ng-repeat='student in students')
          .row.guide-progress-blog
            .col-xs-10
              img.rounded-x(ng-src='{{ student.image_url }}')
              .name-location
                strong {{ student.fullName() }}
              .name-location
                small(ng-if='!student.email') {{ 'email_not_provided' | translate }}
                small(ng-if='student.email')
                  a(href='mailto:{{ student.email }}') {{ student.email }}
            .col-xs-2
              label.mu-checkbox.pull-right
                input(type='checkbox', ng-checked='student.isSelected', ng-click='toggle(student)', ng-disabled='student.isProcessing')
                span
      br

      paginator.text-center.col-xs-12.col-sm-12.col-md-12.col-lg-12(
        ng-if='totalCount > params.per_page',
        pg-items-per-page='{{ params.per_page }}',
        pg-total-items='totalCount',
        pg-actual-page='params.page',
        pg-offset='2',
        pg-click='selectPage')

  br
