.container

  h3 {{ 'complete_form' | translate }}

  form(ng-submit='update()')

    fieldset.form-group
      input.form-control(
          type='text',
          ng-model='student.first_name',
          placeholder='{{ "first_name" | translate }}',
          required,
          autofocus,
          ng-init='f1 = false'
          ng-change='f1 = true')
      div.error
        small.text-muted.text-danger(ng-show='!isTextValid(student.first_name) && f1')
          | {{ 'first_name_error' | translate }}

    fieldset.form-group
      input.form-control(
          type='text',
          ng-model='student.last_name',
          placeholder='{{ "last_name" | translate }}',
          required
          ng-init='f2 = false'
          ng-change='f2 = true')
      div.error
        small.text-muted.text-danger(ng-show='!isTextValid(student.last_name) && f2')
          | {{ 'last_name_error' | translate }}

      button.btn.btn-primary.pull-right(ng-disabled='!isValid()') {{ 'submit' | translate }}
