div
  .student-card

    .student-card-profile(ng-class='{ "detached-student": item.student.detached }')

      .student-card-profile-image
        img.img-circle.pointer(
          with-default='{{ item.student.image_url }}',
          ui-sref='classroom.courses.course.guides.guide.students({ \
              student: item.student.social_id,                      \
              eid: item.lastExerciseSubmitted().id                  \
            })')
      .student-card-profile-data
        .student-card-profile-data-item
          .student-card-profile-data-item-text
            strong
              span
                i.fa.fa-fw(class='fa-{{ item.student.providerIcon() }}')
              span {{ item.student.fullName() }}
          .student-card-profile-data-item-text
            span.fa.fa-fw.fa-clock-o(
                data-placement='top',
                data-toggle='tooltip', tooltip,
                title='{{ item.created_at|date:"medium" }}')
            small
              span {{ Humanizer.date(item.last_assignment.submission.created_at) }}

      .student-card-profile-status
        .student-card-profile-status-row.failed(
            ng-class='{ "empty": item.stats.failed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'failed' | translate }}")
          span {{ item.stats.failed }}
          span.fa.fa-fw.fa-times-circle
        .student-card-profile-status-row.passed_with_warnings(
            ng-class='{ "empty": item.stats.passed_with_warnings === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'with_warnings' | translate }}")
          span {{ item.stats.passed_with_warnings }}
          span.fa.fa-fw.fa-exclamation-circle
        .student-card-profile-status-row.passed(
            ng-class='{ "empty": item.stats.passed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'passed' | translate }}")
          span {{ item.stats.passed }}
          span.fa.fa-fw.fa-check-circle

    .student-guide-details(ng-show='showDetails()')

      .student-guide-details-title(ng-if='item.hasSubmissions()')
        .student-guide-details-title-text
          strong {{ 'last_solution' | translate }}

      .student-guide-details-exercise
        .student-guide-details-exercise-text
          a(ui-sref='classroom.courses.course.guides.guide.students({ student: item.student.social_id, eid: item.lastExerciseSubmitted().id })')
            | {{ item.lastExerciseSubmitted().getName() }}
        status-icon(status='item.lastSubmission().status')

      .student-guide-details-code
        pre
          code
            | {{ item.lastSubmission().content }}
