div
  .student-card

    .student-card-menu
      span.dropdown
        i.pointer.fa.fa-angle-down.dropdown-toggle(data-toggle='dropdown')
        ul.dropdown-menu.dropdown-menu-right
          li.pointer(ng-click='followAction(item.social_id)')
            a
              i.fa.margin(
                ng-class='{                                   \
                  "follow": isFollowing(item.social_id),      \
                  "unfollow": !isFollowing(item.social_id),   \
                  "fa-eye": isFollowing(item.social_id),      \
                  "fa-eye-slash": !isFollowing(item.social_id)\
                }')
              span.item-name {{ isFollowing(item.social_id) ? 'unfollow' : 'follow' | translate }}
          li.pointer(ng-click='edit(item.social_id)')
            a
              i.fa.fa-pencil.margin
              span.item-name {{ 'edit' | translate }}
          li.pointer(ng-click='remove(item)', ng-if='isAdmin')
            a
              i.fa.fa-trash.margin
              span.item-name {{ 'remove' | translate }}
          li.pointer(ng-click='attach(item)', ng-if='canDetach && item.detached')
            a
              i.fa.fa-user-plus.margin
              span.item-name {{ 'attach' | translate }}
          li.pointer(ng-click='detach(item)', ng-if='canDetach && !item.detached')
            a
              i.fa.fa-user-times.margin
              span.item-name {{ 'detach' | translate }}
          li.pointer(ng-click='transfer(item)', ng-if='canTransfer')
            a
              i.fa.fa-exchange.margin
              span.item-name {{ 'transfer' | translate }}

    .student-card-profile(ng-class='{ "detached-student": item.detached }')

      .student-card-profile-image
        img.img-circle(with-default='{{ item.image_url }}')

      .student-card-profile-data
        .student-card-profile-data-item
          .student-card-profile-data-item-text
            span.fa(class='fa-{{ item.providerIcon() }}')
            strong
              span {{ item.fullName() }}
          .student-card-profile-data-item-text
            span.fa.fa-at
            small
              a(href='mailto:{{item.email}}', ng-if='item.email') {{ item.email }}
              span(ng-if='!item.email') {{ 'email_not_provided' | translate }}
          .student-card-profile-data-item-text
            span.fa.fa-calendar(
                data-placement='top',
                data-toggle='tooltip', tooltip,
                title='{{                                                                                           \
                  (item.created_at|date:"medium") + (item.detached? " => " + (item.detached_at|date:"medium") : "") \
                }}')
            small
              span {{ Humanizer.date(item.created_at) }}

      .student-card-profile-status
        .student-card-profile-status-row.failed(
            ng-class='{ "empty": item.stats.failed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'failed' | translate }}")
          span {{ item.stats.failed }}
          span.fa.fa-times-circle
        .student-card-profile-status-row.passed_with_warnings(
            ng-class='{ "empty": item.stats.passed_with_warnings === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'with_warnings' | translate }}")
          span {{ item.stats.passed_with_warnings }}
          span.fa.fa-exclamation-circle
        .student-card-profile-status-row.passed(
            ng-class='{ "empty": item.stats.passed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'passed' | translate }}")
          span {{ item.stats.passed }}
          span.fa.fa-check-circle

  .student-card-recent(ng-class='{ "detached-student": item.detached }', ng-show='showDetails()')
    .student-card-recent-column.right-separator
      h4
        span.fa.fa-book
      a(href='', ng-if='item.lastAssignment()') {{ item.lastAssignment() }}
      span(ng-if='!item.lastAssignment()') Sin soluciones
    .student-card-recent-column
      h4
        span.fa.fa-clock-o
      span {{ Humanizer.date(1475638351492) }}
