.student-floating-card
  .student-card

    .student-card-menu
      span.dropdown
        i.pointer.fa.fa-angle-down.dropdown-toggle(data-toggle='dropdown')
        ul.dropdown-menu.dropdown-menu-right
          li.pointer(ng-click='followAction(item.uid)')
            a
              i.fa.margin(
                ng-class='{                                   \
                  "follow": isFollowing(item.uid),      \
                  "unfollow": !isFollowing(item.uid),   \
                  "fa-eye": isFollowing(item.uid),      \
                  "fa-eye-slash": !isFollowing(item.uid)\
                }')
              span.item-name {{ isFollowing(item.uid) ? 'unfollow' : 'follow' | translate }}
          li.pointer(ng-click='edit(item.uid)')
            a
              i.fa.fa-pencil.margin
              span.item-name {{ 'edit' | translate }}
          li.pointer(ng-click='remove(item)', ng-if='isAdmin')
            a
              i.fa.fa-trash.margin
              span.item-name {{ 'remove' | translate }}
          li.pointer(ng-click='attach(item)', ng-if='canDetach && item.detached')
            a
              i.fa.fa-user-plus.margin
              span.item-name {{ 'attach' | translate }}
          li.pointer(ng-click='detach(item)', ng-if='canDetach && !item.detached')
            a
              i.fa.fa-user-times.margin
              span.item-name {{ 'detach' | translate }}
          li.pointer(ng-click='transfer(item)', ng-if='isAdmin')
            a
              i.fa.fa-exchange.margin
              span.item-name {{ 'transfer' | translate }}

    .student-card-profile(ng-class='{ "detached-student": item.detached }')

      .student-card-profile-image
        img.img-circle(with-default='{{ item.image_url }}')

      .student-card-profile-data
        .student-card-profile-data-item
          .student-card-profile-data-item-text
            span.fa.fa-fw(class='fa-{{ item.providerIcon() }}')
            strong
              span {{ item.fullName() }}
          .student-card-profile-data-item-text
            span.fa.fa-fw.fa-at
            small
              a(href='mailto:{{item.email}}', ng-if='item.email') {{ item.email }}
              span(ng-if='!item.email') {{ 'email_not_provided' | translate }}
          .student-card-profile-data-item-text
            span.fa.fa-fw.fa-calendar(
                data-placement='top',
                data-toggle='tooltip', tooltip,
                title='{{                                                                                           \
                  (item.created_at|date:"medium") + (item.detached? " => " + (item.detached_at|date:"medium") : "") \
                }}')
            small
              span {{ 'registered' | translate }} {{ Humanizer.date(item.created_at) }}

      .student-card-profile-status
        .student-card-profile-status-row.failed(
            ng-class='{ "empty": item.stats.failed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'failed' | translate }}")
          span {{ item.stats.failed }}
          span
            i.fa.fa-fw.fa-times-circle
        .student-card-profile-status-row.passed_with_warnings(
            ng-class='{ "empty": item.stats.passed_with_warnings === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'with_warnings' | translate }}")
          span {{ item.stats.passed_with_warnings }}
          span
            i.fa.fa-fw.fa-exclamation-circle
        .student-card-profile-status-row.passed(
            ng-class='{ "empty": item.stats.passed === 0 }'
            data-toggle="tooltip" tooltip title="{{ 'passed' | translate }}")
          span {{ item.stats.passed }}
          span
            i.fa.fa-fw.fa-check-circle

  .student-card-recent(ng-class='{ "detached-student": item.detached }')
    .student-card-recent-column.right-separator
      .student-card-recent-column-text
        a.small-font(href='' ui-sref='classroom.courses.course.guides.guide.students({org: item.lastGuideOrg(), repo: item.lastGuideRepo(), student: item.uid, eid: item.lastExerciseSubmitted().eid })') {{ item.lastGuideName() || '-' }}
      .student-card-recent-column-text
        small
          span
            i(class='{{ item.last_assignment.guide.iconClass() }}')
          span(ng-if='!item.last_assignment.guide.language')
            i.fa.fa-book
          span {{ 'last_lesson' | translate }}
    .student-card-recent-column
      .student-card-recent-column-text
        small {{ item.lastSubmissionTime() ? Humanizer.date(item.lastSubmissionTime()) : '-' }}
      .student-card-recent-column-text
        small
          span.fa.fa-fw.fa-clock-o
          span {{ 'last_solution' | translate }}
