.panel.panel-default
  .panel-heading

    .row
      .col-md-8.col-sm-6.list-header-options
        div.list-header-option(ng-if='withDetachedStudents')
          span {{ 'detach_students' | translate }}:
          button.btn.btn-link(ng-click='toggleShowDetachedStudents()') {{ (showDetachedStudents() ? 'hide' : 'show') | translate }}

        div.list-header-option(ng-if='withDetails')
          span {{ 'last_solution' | translate }}:
          button.btn.btn-link(ng-click='toggleShowDetails()') {{ (showDetails() ? 'hide' : 'show') | translate }}

        div.list-header-option(ng-if='withFollowers')
          span {{ 'show_students' | translate }}:
          button.btn.btn-link(
              ng-click='toggleOnlyFollowers()',
              ng-disabled='onlyFollowers()') {{ 'only_followers' | translate }} ({{ followUpsCount }})
          span -
          button.btn.btn-link(
              ng-click='toggleOnlyFollowers()',
              ng-disabled='!onlyFollowers()') {{ 'all' | translate }} ({{ list.length }})


      .col-md-4.col-sm-6.pull-right
        .input-group(ng-if='withSortBy')
          span.input-group-addon
            i.fa.fa-fw.pointer(
              ng-click='toggleIsAscending()',
              ng-class='{                                   \
                "fa-sort-amount-asc": options.isAscending,  \
                "fa-sort-amount-desc": !options.isAscending \
              }')
          select.form-control(ng-model='options.sortingType')
            option(ng-repeat='x in availableSortingCriterias', value='{{x.type}}') {{ 'by_' + x.type | translate }}
        .input-group(ng-if='withFilter')
          span.input-group-addon
            i.fa.fa-search.fa-fw
          input.form-control(id='filter', placeholder='{{ "filter_students" | translate }}', ng-model='listOptions.search')

  .panel-content
    div.col-md-4.col-sm-6.floating-card(
        ng-repeat='item in list | filter:byDetachedStudents | orderBy:sortingCriteria():!options.isAscending | filter:listOptions.search | filter:byFollowers')
      div(ng-include='itemTemplate')
